@charset "utf-8";
html{
  font-size: 100%;
}
body{
  font-family:  sans-serif;
  line-height: 1.5;
}
img {
  width: 100%;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
header{
  border-top: 8px solid #8c6239;
}
.header_logo{
  width: 90px;
}
.titre{
  display: flex;
  align-items: center;
}
.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
h1{
  font-size: 1.4rem;
  color: #8c6239;
  font-family: 'Lobster', cursive;
}
nav ul{
  display: flex;
  list-style-type: none;
}
nav li{
  margin-left: 30px;
}
nav a {
  text-decoration: none;
  color: #555;
}
nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}
#main_image{
  width: 100%;
  height: 50vh;
  background-image: url(images/cafe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
 }
 #banniere_description {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50px;
   padding: 16px;
   background-color: rgba(24,24,24,0.8);
   color: #fff;
   font-family: 'Sriracha', cursive;
 }
.content{
  display: flex;
  justify-content: space-between;
  margin-top: 30px; 
}
#main_content{
  width: 65%;
}
#sidebar{
  width: 33%; 
}
article p {
  margin-bottom: 50px;
  text-align: justify;
}
h2{
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #8c6239;
  font-size: 1.2rem;  
}
#block_page1 h2{
  font-family: 'Lora', serif;
}
#info dl{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#info dt{
  width: 7em;
}
#info dd{
  width: calc(100% - 7em);
}
#info dt,dd{
  margin-bottom: 10px;
}
li {
  margin-bottom: 20px;
  list-style-type: none;
}
#sidebar a {
  color: #555;
  text-decoration: none;
}
#sidebar a:hover{
  color: #760001;
  font-size: 1.2rem;
}

footer{
  margin-top: 80px;
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: black;
}
footer ul {
  margin-bottom: 20px;
  font-size: 0.9rem;
  list-style-type: none;
}
footer ul li{
  display: inline-block;
  margin: 5px;
}
footer ul li a{
  color: #fff;
  text-decoration: none;
}
footer ul li a:hover{
  color:blueviolet;
  border-bottom: 3px solid #760001;
}
small{
  font-size: 0.7rem;
}

/* responsive */

@media screen and (max-width: 600px) {
  html{
    font-size: 80%;
  }
  .header_logo{
    width: 60px;
  }
  nav ul ,
  .content{
    flex-direction: column;
  }
  nav li {
    margin: 0;
    padding-right: 20px;
  }
  #main_content,
  #sidebar{
    width: 100%;
  }
  #sidebar{
    margin-top: 20px;
  }
}